h2= config.app
p(
translate-value-greeter="{{ ::from }}", translate=".CONTENT")
p {{ '2015-10-21' | moment:'fromNow' }}
button.button(
  on-tap="homeController.showPopup()",
  translate=".BUTTON",
  type="button")

a.button.button-positive(ui-state="STATE_TEST") Go to test

language-picker(
  on-change="homeController.onLanguageChange(locale)",
  settings="statesData",
  key="locale")
