ion-view.view-home(view-title="Home")
  ion-header.bar-subheader.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios-search.placeholder-icon
      input(
        type="search",
        ng-model="search.query"
        placeholder="Search")
    button.button.button-clear.button-positive(
      ng-disable="search.query.length < 3",
      on-tap="homeController.search()") OK
  ion-content.has-subheader
    ion-list
      ion-item(ng-if="search.results.length < 1")
        | No results
      ion-item.item-icon-right(
        ng-repeat="result in search.results | orderBy:'-release_date'",
        ui-state="STATE_DETAILS",
        ui-state-params="{id: result.id}")
        | {{ result.title }}
        i.icon.ion-ios-arrow-forward
